body {
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #333333;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.nav-item .dropdown-menu {
    background-color: #333333;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover, .nav-link:focus {
    color: #bbbbbb;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2888, 88, 88, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
}

.btn-outline-warning:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
